# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries used by Daa Scientists
- Data Science Tools
- A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. ggplot
3. caret
4. numpy

| Data Since Tools |
| ---------------- |
| Apache Spark |
| Apache Hadoop |
| Jupyter |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60

print ( "200 minutes is "+ str(200/60) + " hours")

200 minutes is 3.3333333333333335 hours

## Author
Bence Szikora